saves
 .vscode
crash-reports
datapacks
defaultconfigs
downloads
ESM
fancymenu_data
gtceu
ldlib
local
logs
patchouli_books
resourcepacks
schematics
screenshots
shaderpacks
.curseclient
.gitignore
emi.json
knownkeys..txt
minecraftinstance.json 
options.txt
patchouli_data.json
rhino.local.properties
user-prefs.json
usercache.json
usernamecache.json
